<h2>{{'NAV_MANUAL' | translate}}</h2>

<div ng-controller="ManualController as manualCtrl">

	<div ng-show="autoMode && loaded == true">
		{{ 'MANUAL_ERROR_1' | translate}}
		<a href="/#/automatic">Automatik</a>
		{{ 'MANUAL_ERROR_2' | translate}}
	</div>

	<div class="row" ng-hide="autoMode || loaded == false">
		<div class="col-sm-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading" style="position:relative;">
					<h3 class="panel-title">
						{{ 'MANUAL_CONTROLS' | translate }}
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 all-space-outer-b">{{ 'MODE' | translate}}</div>
						<div class="col-xs-8 col-sm-9 col-md-9 col-lg-10 all-space-outer-b">
							<div class="btn-group">
								<button type="button" ng-disabled="recipeLoaded" class="btn btn-default btn-sm" ng-class="{'btn-primary':targetMode === 'heat'}" ng-click="setMode('heat')">
									<span class="glyphicon glyphicon-fire"></span> {{ 'HEAT' | translate}}
								</button>
								<button type="button" ng-disabled="recipeLoaded" class="btn btn-default btn-sm" ng-class="{'btn-primary':targetMode === 'cool'}" ng-click="setMode('cool')">
									<span class="glyphicon glyphicon-asterisk"></span> {{ 'COOL' | translate}}
								</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 all-space-outer-b">{{ 'STIRR' | translate}}</div>
						<div class="col-xs-8 col-sm-7 col-md-5 col-lg-4 all-space-outer-b">
							<div class="btn-group">
								<button type="button" ng-disabled="recipeLoaded || !motorWarningChecked" class="btn  btn-default btn-sm" ng-class="{'btn-primary':targetStirr == true}" ng-click="setStirr(true)">
									<span class="glyphicon glyphicon-repeat"></span> {{ 'ON' | translate}}
								</button>
								<button type="button" ng-disabled="recipeLoaded || !motorWarningChecked" class="btn btn-default btn-sm" ng-class="{'btn-primary':targetStirr == false}" ng-click="setStirr(false)">
									<span class="glyphicon glyphicon-ban-circle"></span> {{ 'OFF' | translate}}
								</button>
							</div>
							<a href="./#/settings" ng-show="!motorWarningChecked">
								<div class="alert alert-info" role="alert" style="margin-top: 15px;">{{ 'MANUAL_WARNMOTOR' | translate}}</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 all-space-outer-b">{{ 'TTEMP' | translate}}</div>
						<div class="col-xs-8 col-sm-7 col-md-5 col-lg-4 all-space-outer-b">
							<form ng-submit="setTargetTemp()">
								<div class="input-group">
									<input type="number" min=0 max=150 class="form-control" ng-model="targetTemperature">
									<span class="input-group-addon">°C</span>
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">Go!</button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 all-space-outer-b">{{ 'MANUAL_STOPSWITCH' | translate}}</div>
						<div class="col-xs-8 col-sm-9 col-md-9 col-lg-10 all-space-outer-b">
							<button type="button" ng-disabled="recipeLoaded" class="btn  btn-danger btn-sm" ng-class="{'btn-error':targetStirr == true}" ng-click="enterSafeState()">
								<span class="glyphicon glyphicon-off"></span> {{ 'MANUAL_STOPSWITCH_BTN' | translate}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row" ng-hide="autoMode || loaded == false">
		<div class="col-sm-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading" style="position:relative;">
					<h3 class="panel-title">
						{{ 'TEMPERATUREHISTORY' | translate }}
					</h3>
				</div>
				<div class="panel-body">
					<div ng-controller="ChartController" class="chart-spacer">
						<nvd3-line-chart height="250" data="chartData" objectequality="true" showXAxis="true" showYAxis="true" tooltips="true" xAxisTickFormat="xAxisTickFormatFunction()" interactive="true">
						</nvd3-line-chart>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
