<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
            <h4 class="modal-title" id="myModalLabel">JSON Export</h4>
         </div>
         <div class="modal-body">
            <textarea rows="9" disabled="true" class="form-control">{{recipeJSON}}</textarea>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Schließen</button>
         </div>
      </div>
   </div>
</div>
